<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head') %>
</head>
<body>
	<!-- Header -->
	<header>
		<% if (locals.user != null) { %> <!--evalua si el usuario esta logueado-->
			<%- include('./partials/headerLogueado') %>
		  <% } else { %>
			<%- include('./partials/header') %>
		  <% } %>
	</header>
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/bannermuebles.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i = 0; i < newProducts.length; i++) { %> <!--recorre los elementos del array newproducts-->
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= newProducts[i].id %>"><!--enlace al producto en base a su id -->
							<figure class="product-box_image">
								<img src= "/images/products/<%=newProducts[i].nombreProducto %>.jpeg" alt="<%= newProducts[i].nombreProducto %>"><!--busca a la imagen por el nombre del producto(arma el path)-->
							</figure>
							<article class="product-box_data">
								<h2><%= newProducts[i].nombreProducto %></h2>
								<p><a href="users/profile"> Cargado por: <%= newProducts[i].usuarios.email %></a></p><!--muestra el email-->
								<p><%= newProducts[i].descripcion %></p>
								<p>Fecha de carga: <%= newProducts[i].createdAt %></p>
								<p>Comentarios: <%= newProducts[i].comentario.length %></p><!--cantidad de comentarios-->
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->

	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>

			<!-- Show the "ultimos" products -->
			<% for(let i = 0; i < mostCommentedProducts.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= newProducts[i].id %>">
							<figure class="product-box_image">
								<img src= "/images/products/<%=mostCommentedProducts[i].nombreProducto %>.jpeg" alt=<%= mostCommentedProducts[i].alt %>>
							</figure>
							<article class="product-box_data">
								<h2><%= mostCommentedProducts[i].nombreProducto %></h2>
								<p><a href="users/profile"> Cargado por: <%= mostCommentedProducts[i].usuarios.email %></a></p>
								<p><%= mostCommentedProducts[i].descripcion %></p>
								<p>Fecha de carga: <%= mostCommentedProducts[i].createdAt %></p>
								<p>Comentarios: <%= mostCommentedProducts[i].comentario.length  %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>

		</div>
	</div>
	<!-- /Más comentados -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>