<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head') %>
</head>
<body>
	<!-- Header -->
	<!--include('./partials/header') -->
	<% if (locals.user != null) { %> <!--evalua si el usuario esta logueado-->
		<%- include('./partials/headerLogueado') %>
	  <% } else { %>
		<%- include('./partials/header') %>
	  <% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=data[0].nombreProducto %></h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=data[0].nombreProducto %>.jpeg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=data[0].descripcion %></p>
					<p> <%= data[0].usuarios.email %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i = 0; i < data[0].comentario.length; i++) { %>
							<article>
								<img src= "<%= data[0].usuarios.fotoPerfil %>" alt= "Imagen de perfil" + <%=data[0].usuarios.email%> > 
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"><%= data[0].usuarios.email %></a> </strong>
									 <%= data[0].comentario[i].comentario %></p>
								</div>
							</article>
						<% } %>	
					</section>
					<form class="form" action="" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
			
					
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>