<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head') %>
</head>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Termo</h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/termo.jpeg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Termo para mate</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i = 0; i < newComments.length; i++) { %>
							<article>
								<img src= "/images/users/Default_pfp.png" alt= "Imagen de perfil" + <%= newComments[i].imagenPerfil %> > <!--PREGUNTAR-->
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"><%= newComments[i].nombreUsuario %></a> </strong>
									 <%= newComments[i].textoComentario %></p>
								</div>
							</article>
						<% } %>	
					</section>
					<form class="form" action="" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				

			</div>
		</div>
	</footer>
	<!-- /footer -->
	<%- include('./partials/footer') %>

</body>	
</html>