<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head') %>
</head>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=data.id %></h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/termo.jpeg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=data.id %></p>
					<p> <%= user.email %></p> <!--REVISAR Y PARAMS. va a dar error porque user esta definido en data.js que no se usa en el controlador. para probar pagina borrar desde aca-->
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i = 0; i < newComments.length; i++) { %>
							<article>
								<img src= "/images/users/Default_pfp.png" alt= "Imagen de perfil" + <%= newComments[i].imagenPerfil %> > <!--PREGUNTAR-->
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"><%= newComments[i].nombreUsuario %></a> </strong>
									 <%= newComments[i].textoComentario %></p>
								</div>
							</article>
						<% } %>	
					</section>
					<form class="form" action="" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>