<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head') %>
</head>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=data[0].nombreProducto %></h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=data[0].nombreProducto %>.jpeg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=data[0].descripcion %></p>
					
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>