<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<header>
		<% if (locals.user != null) { %> <!--evalua si el usuario esta logueado-->
			<%- include('./partials/headerLogueado') %>
		  <% } else { %>
			<%- include('./partials/header') %>
		  <% } %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/profile-edit" method="post" class="formRegister">
				<input type="email" name="email" id="email" placeholder="e-mail" class="input" value="<%= usuario.email %>">
				<input type="text" name="usuario" id="nombre de usuario" placeholder="Nombre de Usuario" class="input" value="<%= usuario.usuario %>">
				<input type="password" name="contrase単a" id="contrase単a" placeholder="Contrase単a" class="input" value="<%= usuario.contrase単a %>">
				<input type="date" name="fecha" id="fecha de nacimiento" placeholder="Fecha de nacimiento" class="input"><!--no pongo nada en value-->
				<input type="number" name="dni" id="dni" placeholder="DNI" class="input" value="<%= usuario.dni %>">
				<input type="text" name="id" hidden>
				<input type="text" name="fotoPerfil" id="foto de perfil" placeholder="Foto de perfil" class="input" value="<%= usuario.fotoPerfil %>">
				<input type="submit" value="Enviar" class="input">
			</form>
				
				


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>